[Desktop Entry]
Name[de]=Lutris
Name[hr]=Lutris
Name[nl]=Lutris
Name[ru]=Lutris
Name[zh_CN]=Lutris
Name=Lutris
Comment[de]=quelloffene Spieleplattform
Comment[nl]=open source gameplatform
Comment[ru]=открытая игровая платформа
Comment[zh_CN]=开放源代码游戏平台
Comment=open source gaming platform
Categories=Game;
Keywords[de]=gaming;spielen;wine;emulator;
Keywords[nl]=gaming;spellen;wine;emulator;
Keywords[ru]=gaming;wine;emulator;
Keywords[zh_CN]=gaming;wine;emulator;
Keywords=gaming;wine;emulator;
Exec=lutris %U
Icon[de]=lutris
Icon[nl]=lutris
Icon[ru]=lutris
Icon[zh_CN]=lutris
Icon=lutris
Terminal=false
Type=Application
MimeType=x-scheme-handler/lutris;
